.header {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: rgb(167, 6, 6);
    margin-top: 25px;
    margin-bottom: 10px;
}

.subheader {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 45px;
    font-weight: normal;
    color: rgb(167, 6, 6);
}

h2 {
    font-size: 40px;
    color: black;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 70%;
    text-align: justify;
}

h3 {
    font-family: 'Quattrocento', serif;
    font-size: 40px;
    font-weight: bold;
    color:rgb(78, 78, 78);
}

body {
    background: url(../images/637668.jpg) no-repeat center center fixed;
    background-size: cover;

}

.button {
    margin-top: 50px;
    text-align: center;
}

#questionContent {
    font-family: 'Quattrocento', serif;
}

#startButton {
    background-color: black;
    border: black 2px solid;
    border-radius: 12px;
    font-family: 'Quattrocento', serif;
    padding: 10px 35px;
    color: rgb(185, 185, 185);
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.answerButtons {
    background-color: black;
    border: rgb(185, 185, 185) 2px solid;
    border-radius: 12px;
    font-family: 'Quattrocento', serif;
    padding: 10px 35px;
    color: rgb(185, 185, 185);
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 70%;

}

#reset {
    background-color: black;
    border: black 2px solid;
    border-radius: 12px;
    font-family: 'Quattrocento', serif;
    padding: 10px 35px;
    color: rgb(185, 185, 185);
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

#startButton:hover,
.answerButtons:hover,
#reset:hover {
    background-color: rgb(78, 78, 78);
    color: whitesmoke;
    border: rgb(117, 116, 116) 2px solid;
    padding: 10px 35px;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        font-size: 53px;
    }
    .subheader {
        font-size: 40px;
    }
}

@media only screen and (max-width: 640px) {
    #startButton {
        font-size: 16px;
    }
    .header {
        font-size: 45px;
    }
    .subheader {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 25px;
    }
    .answerButtons {
        font-size: 15px;
    }
}

@media only screen and (max-width: 425px) {
    #startButton {
        font-size: 16px;
    }
    .header {
        font-size: 30px;
    }
    .subheader {
        font-size: 23px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
    .answerButtons {
        font-size: 11px;
    }
}

@media only screen and (max-width: 375px) {
    #startButton {
        font-size: 12px;
        padding: 10px 20px;
        border-radius: 8px;
    }
    .header {
        font-size: 25px;
    }
    .subheader {
        font-size: 18px;
    }
    h2 {
        font-size: 15px;
    }
    h3 {
        font-size: 15px;
    }
    .answerButtons {
        font-size: 9px;
        border-radius: 8px;
        border: rgb(185, 185, 185) 1px solid;
    }
}

@media only screen and (max-width: 320px) {
    #startButton {
        font-size: 12px;
        padding: 10px 20px;
        border-radius: 8px;
    }
    .header {
        font-size: 22px;
    }
    .subheader {
        font-size: 16px;
    }
    h2 {
        width: 80%;
    }
    h3 {
        font-size: 15px;
    }
    .answerButtons {
        font-size: 9px;
        border-radius: 8px;
        width: 80%;
        border: rgb(185, 185, 185) 1px solid;
    }
}
